extends layout
block content
    h1 Gallery
    p Download all files here :
        a(href="/gallery/#{gallery.path}/#{gallery.config.fullDownloadFile}" target="_blank") Click here to download
    div
        each item in gallery.files
            div(class="gallery")
                h3
                    a(href="/gallery/#{gallery.path}/images/#{item.path}" target="_blank")
                        img(src="/gallery/#{gallery.path}/thumbs/#{item.path}" width="200px")
